<!DOCTYPE html>
<html
<head>

<title> MY todo</title>
</head>
<body>
<style>
body {
    background-color: rgb(146, 122, 87);
    color: azure;

}
</style>
<h1> Thee todo</h1>
{% for x in todo%}

    <ul>{{x}}</ul>
    <form method="POST" action="/delete_todo/{{loop.index0}}">
    <input type = "submit" value="Delete">
    </form>
{%endfor%}
<form method ="post">
    <input name ="todo">
    <input type="submit" >
</form>
</body>
</html>
