<!DOCTYPE html>
<html
<head>

<title> MY todo</title>
</head>
<body>
<h1> Thee todo</h1>
{% for x in todo%}
<ul>{{x}}</ul>
{%endfor%}
<form method ="post">
<input name ="todo">
<input type="submit" >
</form>
</body>
</html>
